@using AniLiteWebSite.Core.HtmlHelper
@model AniLiteWebSite.Core.DataBase.Model.Product

@{
    ViewBag.Title = "Добавление продукта";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.BSFGForTextBox(m => m.Name,10,"Отображаемое название продукта")
    @Html.BSFGForTextArea(m => m.Description, 10, "Короткое описание")
    @Html.BSFGForTextBox(m => m.AvatarURI, 10, "Ссылка на постер, любого размера")
    @Html.BSFGSubmitSuccess("AddButton",10,"Добавить")
}
