@model AniLiteWebSite.Models.ProductDetails

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-3" ><img style="max-height:320px;max-width:240px;" src="@Model.AvatarURI" /></div>
    <div class="col-md-9">
        <p>
            <font size="3"><b>@Model.Name</b></font>
                @if (Model.Names != null)
                {
                    <font size="2">
                        @foreach (var it in Model.Names)
                        {
                        @it <br />
                        }
                    </font>
                }    
        </p>
        <p>
        @if (Model.Country != null)
        {
            <b>Производство:</b> @Model.Country
            <br />
        }
        @if(Model.Genre!=null)
        {
            <b>Жанр:</b>
            foreach (var it in Model.Genre)
            {
                @it
                @(", ")
            }
            <br />
        }
        
        @if (Model.View!=null || Model.Type!=null)
        {
            <b>Тип:</b>
            @(Model.View != null ? Model.View + ", " : "")
            @(Model.Type != null ? Model.Type : "")
            <br />
        }
        
        @if (Model.Begin > DateTime.Now.AddYears(-200))
        { 
            <b>Трансляция:</b> @("с" + Model.Begin.ToShortDateString())
            @(Model.Ended && Model.End > DateTime.Now.AddYears(-200) ? " по " + Model.End.ToShortDateString() : "")
            <br />
        }
        
        @if (Model.NumOfEpisode > 0)
        {
            <b>Количество эпизодов:</b> @(Model.Ended ? Model.NumOfEpisode.ToString() : Model.NumOfEpisode.ToString()+"+")
            <br />
        }
        
        @if(Model.Director!=null)
        {
            <b>Режисёр:</b> @Model.Director
            <br />
        }
        
        @if (Model.Author != null)
        {
            <b>Автор оригинала:</b> @Model.Author
            <br />
        }
        
        @if(Model.InRole!=null)
        {
            <b>В ролях:</b>
            foreach(var it in Model.InRole)
            {
                @it
                @(", ")
            }
        }
        </p>
        <p>
            Рейтинг: @Model.Rate.ToString("F2")
        </p>
        <p>
            <a href="">Внешний источник</a>
        </p>
        
        
            @if (@Model.Confirmed)
            {
                <p>Данная страница просмотрена и подтверждена администрацией сайта.</p>
            }
            else
            {
                <p>Данная страница ещё не просмотрена администрацией сайта.</p>
            }
        <hr />        
        <p>
            <font size="5" color="blue">Серий просмотренно 27/43 </font>
            
        </p>
        <p>
            <a href="#" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-minus"></span></a>
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span></a>
        </p>
    </div>

    </div>
<hr />
<p align="justify">
    @Model.Description
</p>