@model AniLiteWebSite.Models.ProductDetails

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-3" ><img style="max-height:320px;max-width:240px;" src="@Model.AvatarURI" /></div>
    <div class="col-md-9">
        <p>
            <font size="3"><b>@Model.Name</b></font>
                @if (Model.Names != null)
                {
                    <font size="2">
                        @foreach (var it in Model.Names)
                        {
                        @it <br />
                        }
                    </font>
                }    
        </p>

        @if (Model.Country != null)
        {
            <b>Производство:</b> @Model.Country
        }
        @if (Model.Begin != null)
        { 
        <p>
            <b>Трансляция:</b> с  @Model.Begin.ToShortDateString() 
            @(Model.Ended && Model.End!=null ? " по "+Model.End.ToShortDateString():"")
        </p>
        }
        
        <p>
            Рейтинг: @Model.Rate.ToString("F2")
        </p>
        <p>
            <a href="">Внешний источник</a>
        </p>
        
        
            @if (@Model.Confirmed)
            {
                <p>Данная страница просмотрена и подтверждена администрацией сайта.</p>
            }
            else
            {
                <p>Данная страница ещё не просмотрена администрацией сайта.</p>
            }
        <hr />        
        <p>
            <font size="5" color="blue">Серий просмотренно 27/43 </font>
            
        </p>
        <p>
            <a href="#" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-minus"></span></a>
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span></a>
        </p>
    </div>

    </div>
<hr />
<p align="justify">
    @Model.Description
</p>