@model AniLiteWebSite.Core.DataBase.Model.Product

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-3" ><img style="max-height:320px;max-width:240px;" src="@Model.AvatarURI" /></div>
    <div class="col-md-9">
        <p>
            <font size="3"><b>@Model.Name [@Model.Begin.Year]</b></font>
            <font size="2"><br /> @Model.FullName.Replace(Environment.NewLine,", ")</font>
        </p>
        <p>
            Трансляция с @Model.Begin.ToShortDateString() @(@Model.Ended ? "по " +  Model.End.ToShortDateString() : "")
        </p>
        <p>
            Рейтинг: @Model.Rate.ToString("F2")
        </p>
        <p>
            <a href="@Model.FromURI">Внешний источник</a>
        </p>
        
        
            @if (@Model.Confirmed)
            {
                <p>Данная страница просмотрена и подтверждена администрацией сайта.</p>
            }
            else
            {
                <p>Данная страница ещё не просмотрена администрацией сайта.</p>
            }
        <hr />        
        <p>
            <font size="5" color="blue">Серий просмотренно 27/43 </font>
            
        </p>
        <p>
            <a href="#" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-minus"></span></a>
            <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span></a>
        </p>
    </div>

    </div>
<hr />
<p align="justify">
    @Model.Description
</p>
<p align="right">
    @(Model.AddedBy != null ? string.Format("Добавлено пользователем: {0} {1}, {2} {3}", Model.AddedBy.FirstName, Model.AddedBy.SecondName,Model.Added.ToLongTimeString(), Model.Added.ToLongDateString()) : "")
    <br />
    @(Model.EditedBy != null ? string.Format("Отредактировано: {0} {1}, {2} {3}", Model.EditedBy.FirstName, Model.EditedBy.SecondName, Model.Edited.ToLongTimeString(), Model.Edited.ToLongDateString()) : "")
</p>