@using AniLiteWebSite.Core.HtmlHelper
@model AniLiteWebSite.Models.ProductDetails

@{
    ViewBag.Title = "Редактирование продукта";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Product", new { Id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.BSFGLabel(m => m.Id, 10)
    @Html.BSFGForTextBox(m => m.Name, 10, "Отображаемое название")
    @Html.BSFGForListTextBox(m => m.Names, 10, "Название на других языках")
    @Html.BSFGLabel(m => m.Rate, 10)
    @Html.BSFGForTextBox(m => m.AvatarURI, 10, "Ссылка на постер")
    @Html.BSFGLabel(m => m.UserName, 10)
    @Html.BSFGSubmitSuccess("SubmitButton", 10, "Сохранить")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>