@using AniLiteWebSite.Core.HtmlHelper
@model AniLiteWebSite.Models.ProductEdit

@{
    ViewBag.Title = "Редактирование продукта";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (var BSFG = new BSFG(Url.Action("Edit","Product",new {Id = Model.Id}),"POST","form-horizontal",2,3))
{
    @BSFG.Begin();
    @Html.AntiForgeryToken()
    <!--Название-->
    @BSFG.FormGroup(BSFG.Label("Name", "Название"), BSFG.TextBox("Name", Model.Name, "Отображаемое название"))
    @BSFG.FormGroup(BSFG.Label("Description", "Описание"), BSFG.TextArea("Description",4, Model.Description, "Короткое описание"))
    @BSFG.FormGroup(BSFG.Label("Names","Другие названия"), BSFG.TextBoxList("Names",Model.Names.ToArray(),"Названия на других языках"))
    @BSFG.End();
    
}
@section FooterScript{
}