@using AniLiteWebSite.Core.HtmlHelper
@model AniLiteWebSite.Models.ProductEdit

@{
    ViewBag.Title = "Редактирование продукта";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.BSFGForTextBox(m => m.Name,10,"Отображаемое название продукта")
    @Html.BSFGForTextArea(m => m.Description, 10, "Короткое описание")
    @Html.BSFGForTextBox(m => m.AvatarURI, 10, "Ссылка на постер, любого размера")

    @Html.BSFGForEnumDDL(typeof(AniLiteWebSite.Core.DataBase.Model.TypeOfMetaProduct),"ForAdd")
    
    @Html.BSFGSubmitSuccess("SaveButton",10,"Сохранить")
}

